.card-list {
    justify-content: space-evenly;
    gap: 2em;
    margin: 0 30px;
}

.container-fluid {
    margin-top: 70px;
}

h1 {
    padding: 0 50px;
}

.container-fluid .row {
    padding-top: 2em;
}

.listings {
    display: flex;
    flex-flow: row wrap;
}