body {
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-title {
    padding: 10px 0;
}

.overflow {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.2);
}

.btn .btn-primary:hover {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a58ca;
}