.map {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-x: 0;
}

.listing-page-container {
    margin-top: 70px;
    padding: 20px;
}

.listing-page-container h1 {
    padding: 0;
    margin: 30px 0;
}

.listing-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    overflow: hidden;
}

.listing-photo img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    width: 500px;
    height: 500px;
}

.bordered {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card-header p {
    margin: 0;
    padding: 0;
}

.card-header b {
    margin-left: 10px;
    margin-right: 5px;
}

.edit-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}